<p-table 
    #dt dataKey="id"
    sortField="id" [resizableColumns]="true"
    [value]="data.results" [expandedRowKeys]="expandedRows"
    stripedRows [paginator]=true [exportHeader]="'customExportHeader'"
    scrollable=true [showCurrentPageReport]="true"
    [rows]="5" [rowsPerPageOptions]="[5, 10, 25, 50]"
    [lazy]="true" (onLazyLoad)="loadPage($event)" [loading]="loading"
    [totalRecords]="data.totalHits" [columns]="columns" [exportFunction]="cellExport.bind(this)" exportFilename="papers"
    >

    <ng-template #caption>
        <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input #search pInputText type="text" (input)="onSearch(search.value)" placeholder="Search..." />
        </p-iconfield>
        <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="dt.clear()" />
        <p-button icon="pi pi-external-link" label="Export" (click)="dt.exportCSV()" />
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 5rem"></th>
            <th pResizableColumn
                *ngFor="let col of columns"
                [pSortableColumn]="col.sortable ? col.field : undefined">

                {{ col.header }}

                <ng-container *ngIf="col.sortable">
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-result let-expanded="expanded">
        <tr>
            <td>
                <p-button type="button" pRipple [pRowToggler]="result" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            <td *ngFor="let col of columns" style="max-width:250px; word-break: break-word; white-space: normal;">
                {{ formatCell(result[col.field], col) }}
            </td>
        </tr>
    </ng-template>
    <ng-template #expandedrow let-result>
        <tr>
            <td [attr.colspan]="columns.length + 1">
                <div>
                    <h4>Abstract</h4>
                    <ng-container *ngIf="result.abstract; else noAbstract">
                        <p style="word-break: break-word; white-space: normal;">{{ result.abstract }}</p>
                    </ng-container>

                    <ng-template #noAbstract>
                        <p>Not Available</p>
                    </ng-template>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="columns.length" class="text-center">
                <ng-container *ngIf="errorMsg; else noRows">
                    <p-message severity="error" [text]="errorMsg"></p-message>
                </ng-container>

                <ng-template #noRows>
                    <span>No records found.</span>
                </ng-template>
            </td>
        </tr>
    </ng-template>
</p-table>

<div class="chart-container" style="max-width: 500px;">
    <p-chart type="doughnut" [data]="fieldData" class="w-full md:w-[30rem]" />
</div>
